{% extends "admin/base_site.html" %}
{% load i18n admin_static bootstrapped_goodies_tags %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
<!-- Timeline CSS -->
<link href="{% static "admin/css/timeline.css" %}" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="{% static "admin/css/morris.css" %}" rel="stylesheet">

<link href="{% static "admin/css/custom.css" %}" rel="stylesheet">
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}


{% block content-navbar-collapse %}
{% endblock %}

{% block navbar %}{% endblock %}
{% block object-tools %}

<ul class="nav navbar-nav">
    <li class="dropdown">
        <a role="button" href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Applications" %} <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            {% for app in app_list %}
            <li>
                <a href="#"><strong>{% render_app_name app %}</strong></a>
            </li>
            {% for model in app.models %}
            <li>
                {% if model.admin_url %}
                    <a href="{{ model.admin_url }}">{{ model.name }}</a>
                {% else %}
                   {{ model.name }}
                {% endif %}
            </li>
            {% endfor %}
            {% if not forloop.last %}
            <li role="presentation" class="divider"></li>
            {% endif %}
            {% endfor %}
        </ul>
    </li>
</ul>
{% endblock %}


{% block content %}
<section id="main">

        <h1 class="page-header">Inicio</h1>

{% for app in app_list %}
    <div class="row">
    {% include "admin/bootstrapped_extra/app_name.html" %}
    {% render_app_description app %}

    
    {% for model in app.models %}
        <div class="col-sm-3 col-md-3">
            <div class="panel {% if model.name == "Diagnósticos" %} panel-primary {% elif model.name == "Dictados" %} panel-green {% elif model.name == "Doctores" %} panel-yellow {% elif model.name == "Clientes" %} panel-red {% elif model.name == "Estudios" %} panel-purple {% elif model.name == "Usuarios" %} panel-soft-green {% elif model.name == "Grupos" %} panel-soft-red {% elif model.name == "Firmas" %} panel-veige {% elif model.name == "Pacientes" %} panel-brown {% endif %}">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa {% if model.name == "Diagnósticos" %} fa-list-alt {% elif model.name == "Dictados" %}fa-tasks {% elif model.name == "Doctores" %} fa-hospital-o {% elif model.name == "Usuarios" %} fa-user {% elif model.name == "Estudios" %} fa-mortar-board {% elif model.name == "Firmas" %} fa-pencil-square {% elif model.name == "Clientes" %} fa-dollar {% elif model.name == "Grupos" %} fa-group {% elif model.name == "Pacientes" %} fa-ambulance {% endif %} fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{% if model.name == "Diagnósticos" %} {{ diagnostics_count }} {% elif model.name == "Estudios" %} {{ studies_count }} {% elif model.name == "Pacientes" %} {{ pacients_count }} {% elif model.name == "Firmas" %} {{ sign_count }} {% elif model.name == "Clientes" %} {{ clients_count }} {% elif model.name == "Dictados" %} {{ dictamen_count }} {% elif model.name == "Doctores" %} {{ doctors_count }} {% elif model.name == "Grupos" %} {{ groups_count }} {% elif model.name == "Usuarios" %} {{ users_count }}{% endif %}</div>
                            <div class="lead" style="margin-bottom:0px;">{{ model.name }}</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    
                    {% if model.admin_url %}
                    <span class="pull-right">
                     <a class="btn" href="{{ model.admin_url }}"><i class="glyphicon glyphicon-edit"></i> Modificar</a>
                    </span>
                    {% endif %}
                    
                    
                    {% if model.add_url  %}
                    <span class="pull-left">
                    <a class="btn"href="{{ model.add_url }}"><i class="fa fa-plus-square"></i> Nuevo</a>
                    </span>
                    {% endif %}
                    
                    <div class="clearfix"></div>
                </div>
                
            </div>
        </div>

    
    {% endfor %}
    </div>
{% endfor %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Las 20 fechas con m&aacute;s diagn&oacute;sticos realizados
                                <div class="pull-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                            Actions
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li><a href="#">Action</a>
                                            </li>
                                            <li><a href="#">Another action</a>
                                            </li>
                                            <li><a href="#">Something else here</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="row">
                                    
                                    <!-- /.col-lg-4 (nested) -->
                                    <div class="col-lg-12">
                                        <div id="morris-bar-chart"></div>
                                    </div>
                                    <!-- /.col-lg-8 (nested) -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
    </div>
</div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Diagn&oacute;sticos en el rango de a&ntilde;os
                                <div class="pull-right">
                                    <div class="btn-group">
                                    <form id="diagnosticsSearchForm" action="" method="POST">
                                    {% csrf_token %}
                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                            Rango de Años
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li><input type="number" name="anhos" step=1 min=1 max="9999"/> &nbsp;<button type="submit" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-search"></span>
                                        </button>
                                            </li>
                                            
                                            
                                        </ul>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div id="morris-area-chart"></div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                        
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Los 20 pacientes con m&aacute;s diagn&oacute;ticos
                            </div>
                            <div class="panel-body">
                                <div id="morris-donut-chart3"></div>
                                
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                        
                    </div>
                    <!-- /.col-lg-8 -->
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bell fa-fw"></i> Notificaciones
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-comment fa-fw"></i> New Comment
                                        <span class="pull-right text-muted small"><em>4 minutes ago</em>
                                        </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                        <span class="pull-right text-muted small"><em>12 minutes ago</em>
                                        </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-envelope fa-fw"></i> Message Sent
                                        <span class="pull-right text-muted small"><em>27 minutes ago</em>
                                        </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-tasks fa-fw"></i> New Task
                                        <span class="pull-right text-muted small"><em>43 minutes ago</em>
                                        </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                        <span class="pull-right text-muted small"><em>11:32 AM</em>
                                        </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-bolt fa-fw"></i> Server Crashed!
                                        <span class="pull-right text-muted small"><em>11:13 AM</em>
                                        </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-warning fa-fw"></i> Server Not Responding
                                        <span class="pull-right text-muted small"><em>10:57 AM</em>
                                        </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
                                        <span class="pull-right text-muted small"><em>9:49 AM</em>
                                        </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-money fa-fw"></i> Payment Received
                                        <span class="pull-right text-muted small"><em>Yesterday</em>
                                        </span>
                                    </a>
                                </div>
                                <!-- /.list-group -->
                                <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Los 20 doctores con m&aacute;s diagn&oacute;sticos
                            </div>
                            <div class="panel-body">
                                <div id="morris-donut-chart"></div>
                                
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Los 20 doctores con m&aacute;s pacientes
                            </div>
                            <div class="panel-body">
                                <div id="morris-donut-chart2"></div>
                                
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!--<div class="chat-panel panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-comments fa-fw"></i>
                                Chat
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-chevron-down"></i>
                                    </button>
                                    <ul class="dropdown-menu slidedown">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-refresh fa-fw"></i> Refresh
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-check-circle fa-fw"></i> Available
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-times fa-fw"></i> Busy
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-clock-o fa-fw"></i> Away
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-sign-out fa-fw"></i> Sign Out
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="panel-body">
                                <ul class="chat">
                                    <li class="left clearfix">
                                        <span class="chat-img pull-left">
                                            <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font">Jack Sparrow</strong>
                                                <small class="pull-right text-muted">
                                                    <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                                                </small>
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="right clearfix">
                                        <span class="chat-img pull-right">
                                            <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <small class=" text-muted">
                                                    <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                                                <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="left clearfix">
                                        <span class="chat-img pull-left">
                                            <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font">Jack Sparrow</strong>
                                                <small class="pull-right text-muted">
                                                    <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="right clearfix">
                                        <span class="chat-img pull-right">
                                            <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <small class=" text-muted">
                                                    <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small>
                                                <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="panel-footer">
                                <div class="input-group">
                                    <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                    <span class="input-group-btn">
                                        <button class="btn btn-warning btn-sm" id="btn-chat">
                                            Send
                                        </button>
                                    </span>
                                </div>
                            </div>
                            
                        </div>-->

                    </div>
                    <!-- /.col-lg-4 -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /#page-wrapper -->


<!-- Morris Charts JavaScript -->
<script src="{% static "admin/js/raphael-min.js" %}"></script>
<script src="{% static "admin/js/morris.min.js" %}"></script>
<script type="text/javascript" charset="utf-8">
var generatePieChartData = (function () {
    var pie_data = [];

    {% for index, value in diagnosticos_by_doctor.items %}
    
    pie_data.push({
        label: "{{ index }}",
        value: {{ value }}
        
    });
    {% endfor %}

    return function () { return pie_data; }
})();

var generatePieChartData2 = (function () {
    var pie_data = [];

    {% for index, value in pacientes_por_doctor.items %}
    
    pie_data.push({
        label: "{{ index }}",
        value: {{ value }}
        
    });
    {% endfor %}

    return function () { return pie_data; }
})();

var generatePieChartData3 = (function () {
    var pie_data = [];

    {% for index, value in pacientes_diagnosticos.items %}
    
    pie_data.push({
        label: "{{ index }}",
        value: {{ value }}
        
    });
    {% endfor %}

    return function () { return pie_data; }
})();

var generateBarChartData = (function () {
    var bar_data = [];

   
        {% for fecha, cantidad in diagnosticos_by_date.items %}
            bar_data.push({
                fecha: "{{ fecha | date:'D d M Y' | safe }}",
                cantidad: {{ cantidad }} 
            });
        {% endfor %}
    

    return function () { return bar_data; }
})();

var generateAreaChartData = (function () {
    var areachart_data = [];

   
        {% for anho, cantidad in diagnostico_x_anho.items %}
            areachart_data.push({
                anho: '{{ anho | safe }}',
                cantidad: {{ cantidad }} 
            });
        {% endfor %}
    

    return function () { return areachart_data; }
})();

</script>
<script src="{% static "admin/js/morris-data.js" %}"></script>

<!-- Custom JavaScript -->
<script src="{% static "admin/js/custom-admin.js" %}"></script>

{% endblock %}

{% block sidebar %}
{% endblock %}
